/* *{
background-color: yellow;
} */

.signup-button {
    background-color: #6288a5;
    border-radius: 3px;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0 4px;
    padding: 4px 9px;
  }

/* .form-items{
    display:flex;
    padding:10px;
    background-color: azure;
    border-radius:5px;
    margin: 10px;
    border:3px purple solid;
    align-items: center;
    width:200px;
    height:10px;
}; */



/* .label{
    background-color: azure;
    padding: 60px;

} */

/* .form{
    display:flex;
    flex-direction: column;
    align-items:left;
    background-color:yellow
}; */
