/* .navBar-unlogged{
  background-color: red;
} */



.Link-Text-Navbar-Home{
  color:#0000EE;
  font-size:34px;
  font-weight: bold;
}

.Link-Text-Login-Signup{
  color:#0000EE;
  font-weight: bold;
  display:flex;
  flex:column;
  justify-content:space-around;
  margin: 10px;
}

.Link-Text-myProfile{
  color:#0000EE;
  display:flex;
  flex:column;
}

.profile-dropdown{
  background-color:aliceblue;
  border: 3px solid green;
}

.profileButton{

  width: 300px;
  height:20px;
  border: 1px solid green;

};

.Nav-Items{
  display:flex;
  justify-content:center;
  align-items: top;
}

.navBar{
    display: flex;
    justify-content:space-between;
    height:80px;
    align-items: flex-start;
    border: 1px dashed black;
    border-bottom: 3px solid black;
    padding-bottom: 11px;
    list-style:none;
    background-color: #d6bef1;

};
